<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>router</title>
    <script src="../static/vue.js"></script>
    <script src="../static/vue-router.js"></script>
</head>
<body>
<div id="app">
    <h1 v-text="msg"></h1>
    <table>
        <tr>
            <td><router-link to="/user">用户管理</router-link></td>
            <td><router-link to="/pro">产品管理</router-link></td>
            <td><router-link to="/order">订单管理</router-link></td>

        </tr>
    </table>

    <div>
        <!--
            点击上面的/user,那么/user 对应的内容就会显示在router-view 这里
         -->
        <router-view></router-view>
    </div>

</div>


<script>
    /*
* 申明三个模板( html 片段 )
*/
    var user = { template: '<p>用户管理页面的内容</p>' };
    var pro = { template: '<p>产品管理页面的内容</p>' };
    var order = { template: '<p>订单管理页面的内容</p>' };
    /*
    * 定义路由
    */
    var routes = [
        { path: '/', redirect: '/user'}, // 这个表示会默认渲染 /user，没有这个就是空白
        { path: '/user', component: user },
        { path: '/pro', component: pro },
        { path: '/order', component: order }
    ];
    /*
    * 创建VueRouter实例
    */
    var router = new VueRouter({
        routes:routes
    });
    /*
    * 给vue对象绑定路由
    */
    new Vue({
        el:"#app",
        data:{
            msg:"Vue路由"
        },
        router
    })
</script>
</body>
</html>