<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="../static/vue.min.js"></script>

</head>
<body>
<div  id="app">
    <h1 v-text="message"></h1>
    <!--输出数组数字-->
    <span v-for="item in list">{{item}} </span>
    <!--输出索引和数组数字-->
    <span v-for="(item,i) in list">索引：{{i}}=>值：{{item}} </span><br>
    <!--输出数组对象-->
    <span v-for="(item,i) in obj">{{i}}=>{{item.id}}--{{item.name}} </span><br>
    <!--循环对象-->
    <p v-for="(val,key) in user">值：{{val}}->键：{{key}}</p>
    <!--迭代数字  in后面可以是普通数字、对象、对象数组、数字-->
    <!--从1开始-->
    <span v-for="count in 5">这是第 {{count}} 次循环,</span><br><br>


    <!-- 注：v-for 中 key属性-->
    <label>ID:
    <input type="text" v-model="id">
    </label>
    <label>Name:
    <input type="text" v-model="name">
    </label>
    <input type="button" value="后方添加" @click="add">
    <input type="button" value="前方添加" @click="prev">
    <!--不用key勾选的位置会改变-->
    <p v-for="val in obj" :key = "val">
        <input type="checkbox" value="添加">
        {{val.id}}--{{val.name}}</p>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            message:"v-for迭代",
            list:[0,1,2,3],
            obj:[
                {id:1,name:"zs"},
                {id:2,name:"li"},
                {id:3,name:"ww"},
            ],
            user:{
                id:8,
                name:'charm',
                gender:'male'
            },
            id:'',
            name:'',
            },
        methods:{
            add(){
                this.obj.push({id:this.id,name:this.name})
            },
            prev(){
                this.obj.unshift({id:this.id,name:this.name})
            }
        }
    })
</script>
</body>
</html>